* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f0ead6;
    position: relative;
    font-family: sigmar;
}

.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }
    .figure {
        justify-content: space-between;
        display: flex;
    }
    .top {
        background-color: #233D4D;
        height:auto;
    }
 

  .navbar {
    display: flex;
    align-items: right;
  }
  .nav--list {
    position: sticky;
    width: 0%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: right;
    list-style: none;
    background-color: #233D4D;
  }

 
  
  .active {
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 0%;
    background: #000;
    border-radius: 5px;
    transition: left 300ms ease, width 200ms 200ms ease;
  }
  
  .item {
    padding: 15px;
    margin: 10px;
    z-index: 20;
  }
  
  .item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #233D4D;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px;
    position:relative;
    z-index:1;
  }

  .item:before {
    content: "";
    width: 0.4rem;
    height: 100%;
    background: #619B8A;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    z-index: 1;}
  .item .cs-icon {
    width: 1.5rem;
    height: auto;
}
.item .cs-icon path {
    transition: fill 0.5s;
}
.item:hover {
    color: #fff;
}
.item:hover:before {
    width: 100%;
}
.item:hover .cs-icon path {
    fill: #fff;
}

.section-1 {
    width: 90%;
    min-height: 40vh;
    position: relative;
    background-color: #233D4D;
    background: #233D4D;
    overflow-y: hidden;
    margin-bottom: 5%;
    margin-top:5%;
    justify-content: space-between;
    border:solid #619B8A 2vh;
    border-top: #FE7F2D solid 2vh;
    border-radius: 1vh;
    margin-left: 2vh;
    
}


.section-1-text {
    background-color: transparent;
    margin-left: 10%;
}
.howdy-partner {
    background-color: transparent;
    color: #FE7F2D;
    font-weight: lightest;
    letter-spacing: 0.05cap;
    font-stretch: expanded;
    font-size: 333%;
    text-align: left;
}
.howdy-partner:hover {
    color:#619B8A;
    cursor: default;
}

.intro {

    background-color: transparent;
    color: #619B8A;
    font-size: 177%;
    text-align: left;
}


  .section-2 {
    width: 90%;
    min-height: 50vh;
    position: relative;
    background: #619B8A;
    overflow-y: hidden;
    margin-bottom: 0%;
    margin-top:0%;
    justify-content: space-between;
    border: solid #233D4D 2vh;
    border-top: solid #FE7F2D 2vh;
    margin-left: 2vh;
    border-radius: 2vh;
  }  

  .section-2-text1 {
    background-color: transparent;
    margin-left: 10%;
    text-align: left;
    margin-left: 10%;
    font-size: 177%;
    color:#233D4D;
    width:40%
  }

  .section-2-text2 {
    background-color: transparent;
    margin-left: 10%;
    text-align: left;
    margin-left: 10%;
    font-size: 177%;
    color: #233D4D;
    margin-top: 7vh;
    margin-bottom: 6vh;
    max-width: 80%;
  }

  .section-3 {
    width: 90%;
    min-height: 40vh;
    position: relative;
    background-color: #233D4D;
    background: #233D4D;
    overflow-y: hidden;
    margin-bottom: 5%;
    margin-top:5%;
    justify-content: space-between;
    border:solid #619B8A 2vh;
    border-top: #FE7F2D solid 2vh;
    margin-left: 2vh;
    border-radius: 2vh;
  }

  .section-3-text1 {
    background-color: transparent;
    margin-left: 10%;
    text-align: left;
    margin-left: 10%;
    font-size: 177%;
    color: #619B8A;
    margin-top: 7vh;
    margin-bottom: 6vh;
    max-width: 80%;
  }

  .section-3-text2 {
    background-color: transparent;
    margin-left: 10%;
    text-align: left;
    margin-left: 10%;
    font-size: 177%;
    color: #619B8A;
    margin-top: 7vh;
    margin-bottom: 6vh;
    max-width: 80%;
  }

  #contact-form {
background-color: #233D4D;
margin-top: 5vh;
  }

  .field {
    width:50%;
    height:50vh;
    border:solid #619B8A 0.5vh;
  }
  input[type=text], select, textarea {
height: 200%;

  }


  /********form
  */
   /********form
  */
  #fcf-form {
    display:block;
}

.fcf-body {
    font-size: 72%;
    margin: 0;
    line-height: 1.2;
    color: #233D4D;
    background-color: #fff;
    padding: 4vh;
    padding-bottom: 2vh;
    border: 10px solid #ced4da;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 6vh;
    width:95%;
    justify-content: center;
}

.fcf-form-group1 {
    margin-bottom: 2vh;
width: 49%;
display: inline-block;
}

.fcf-h3 {
  margin-left: 2vh;
}

.name-and-email {
width: 95%;
position: relative;
display: inline-block;
    
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin: auto;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {

    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 1vh;
}

.fcf-credit {
    padding-top: 10px;
    text-align: center;
    font-size: 66%;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}




  .fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}